{% extends 'base.html.twig' %}

{% block title %}
	Page Gestion Admin
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row justify-content-center">
			<h1>Tableau de Bord</h1>
		</div>
		<div class="row justify-content-around">
			<div class="col-sm-3">
				<a href="{{ path('accueil') }}" role="button" class="btn bouton">Retour</a>
			</div>
			<div class="col-sm-3">
				<a href="{{ path('app_logout') }}" role="button" class="btn bouton">Déconnexion</a>
			</div>
		</div>
		<div class="row justify-content-center">
			<p>Nombre d'utilisateurs du site :
				{{nombre_utilisateur}}
			</p>
		</div>
		<div class="row justify-content-center">
			<p>Nombre de ventes du site :
				{{nombre_vente}}
			</p>
		</div>
		<div class="row justify-content-center">
			<p>Nombre de revenus du site :
				{{revenus}}
				€
			</p>
		</div>
		<div class="row justify-content-center">
			<div class="col-sm-3">
				<a href="{{ path('gestion.membre') }}" role="button" class="btn bouton">Gestion Membre</a>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-sm-3">
				<a href="{{ path('gestion.jeu') }}" role="button" class="btn bouton">Gestion Jeux</a>
			</div>
		</div>
	</div>
{% endblock %}
