{% extends 'base.html.twig' %}

{% block title %}
	Page Gestion Jeux
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row justify-content-center">
			<h1>Gestion Jeux</h1>
		</div>
		<div class="row justify-content-around">
			<div class="col-sm-3">
				<a href="{{ path('gestion') }}" role="button" class="btn bouton">Retour</a>
			</div>
			<div class="col-sm-3">
				<a href="{{ path('jeu.ajout') }}" role="button" class="btn bouton">Ajout Jeu</a>
			</div>
		</div>
		<div class="row">
			{% for jeu in jeux %}
				<div class="col-md-3 marge">
					<div class="card case">
						<div class="card-body">
							<div class="titre">
								<h5 class="card-title">
									{{jeu.nom}}
								</h5>
							</div>
							<p class="card-text">{{jeu.description}}
							</p>
							<p class="card-text">{{jeu.prix}}
								€
							</p>
							<p class="card-text">{{jeu.quantite}}
								en stock
							</p>
							<p class="card-text">{{jeu.quantitevendu}}
								vendus
							</p>
							<div class="row justify-content-center">
								<a href="/modification_jeu/{{jeu.id}}" role="button" class="btn bouton">Modifier</a>
							</div>
							<div class="row justify-content-center">
								<a href="/supprimer_jeu/{{jeu.id}}" role="button" class="btn bouton">Supprimer</a>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
