{% extends 'base.html.twig' %}

{% block title %}
	Page Gestion Membre
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row justify-content-center">
			<h1>Gestion Membre</h1>
		</div>
		<div class="row justify-content-center">
			<div class="col-sm-3">
				<a href="{{ path('gestion') }}" role="button" class="btn bouton">Retour</a>
			</div>
		</div>
		<div class="row">
			{% for utilisateur in utilisateurs %}
				<div class="col-md-3 marge">
					<div class="card case">
						<div class="card-body">
							<div class="titre">
								<h5 class="card-title">
									{{utilisateur.prenom}}
									{{utilisateur.nom}}
								</h5>
							</div>
							<p class="card-text">{{utilisateur.email}}</p>
							<p class="card-text">{{utilisateur.datenaissance | date("d/m/Y")}}</p>
							<div class="row justify-content-center">
								<a href="/modification/{{utilisateur.id}}" role="button" class="btn bouton">Modifier</a>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
