{% extends 'base.html.twig' %}

{% block title %}
	Page Modification Jeu
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row justify-content-center">
			<h1>Modification Jeu</h1>
		</div>
		<div class="row justify-content-center">
			<div class="col-sm-3">
				<a href="{{ path('gestion.jeu') }}" role="button" class="btn bouton">Retour</a>
			</div>
		</div>
		<div class="row justify-content-center">
			{{ form_start(formulaire) }}
			<div class="row justify-content-center">
				{{ form_widget(formulaire.nom) }}
			</div>
			<div class="row justify-content-center">
				{{ form_widget(formulaire.description) }}
			</div>
			<div class="row justify-content-center">
				{{ form_errors(formulaire.description) }}
			</div>
			<div class="row justify-content-center">
				{{ form_widget(formulaire.prix) }}
			</div>
			<div class="row justify-content-center">
				{{ form_errors(formulaire.prix) }}
			</div>
			<div class="row justify-content-center">
				{{ form_widget(formulaire.quantite) }}
			</div>
			<div class="row justify-content-center">
				{{ form_errors(formulaire.quantite) }}
			</div>
			<div class="row justify-content-center">
				{{ form_row(formulaire.Envoyer) }}
			</div>
			{{ form_end(formulaire) }}
		</div>
	</div>
{% endblock %}
