body {
    background-color: lightgray;
}

$vert: rgb(160, 255, 160);
$orange: rgb(255, 196, 0);
$red: rgb(252, 127, 127);
$white: white;

.bouton {
    background-color: $red;
    border-color: $red;
    margin-top: 4%;
    margin-bottom: 4%;
    color: $white;
    &:hover {
        background-color: $orange;
        border-color: $orange;
        color: $white;
    }
    &:active {
        background-color: $vert;
        border-color: $vert;
        color: $white;
    }
}