{% extends 'base.html.twig' %}

{% block title %}
	Page modification Mot de passe
{% endblock %}

{% block body %}
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}
	<div class="row justify-content-center">
		<h1>Modification Mot de Passe</h1>
	</div>
	<div class="row justify-content-center">
		<div class="col-sm-3">
			<a href="/profil" role="button" class="btn bouton">Retour</a>
		</div>
	</div>

	{{ form_start(formulaire) }}
	<div class="row justify-content-center">
		{{ form_widget(formulaire.plainPassword) }}
	</div>
	<div class="row justify-content-center">
		{{ form_errors(formulaire.plainPassword) }}
	</div>
	<div class="row justify-content-center">
		{{ form_row(formulaire.Modifier) }}
	</div>
	{{ form_end(formulaire) }}
{% endblock %}
