{% extends 'base.html.twig' %}

{% block title %}
	Page modification Profil
{% endblock %}

{% block body %}
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}

	{% if is_granted('ROLE_ADMIN')%}
		<div class="row justify-content-center">
			<h1>Modification
				{{utilisateur.prenom}}
				{{utilisateur.nom}}
			</h1>
		</div>
		<div class="row justify-content-center">
			<div class="col-sm-3">
				<a href="/gestion" role="button" class="btn bouton">Retour</a>
			</div>
		</div>
	{% else %}
		<div class="row justify-content-center">
			<h1>Modification Profil</h1>
		</div>
		<div class="row justify-content-center">
			<div class="col-sm-3">
				<a href="/profil" role="button" class="btn btn-primary">Retour</a>
			</div>
		</div>
	{% endif %}

	{{ form_start(formulaire) }}
	<div class="row justify-content-center">
		{{ form_widget(formulaire.prenom) }}
	</div>
	<div class="row justify-content-center">
		{{ form_widget(formulaire.nom) }}
	</div>
	<div class="row justify-content-center">
		{{ form_widget(formulaire.email) }}
	</div>
	<div class="row justify-content-center">
		{{ form_errors(formulaire.email) }}
	</div>
	<div class="row justify-content-center">
		{{ form_widget(formulaire.date_naissance) }}
	</div>
	<div class="row justify-content-center">
		{{ form_errors(formulaire.date_naissance) }}
	</div>
	<div class="row justify-content-center">
		{{ form_row(formulaire.Modifier) }}
	</div>
	{{ form_end(formulaire) }}
{% endblock %}
