{% extends 'base.html.twig' %}

{% block title %}
	Page Inscription
{% endblock %}

{% block body %}
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}

	<h1 class="row justify-content-center">Inscription</h1>

	<div class="row justify-content-center">
		<div class="col-sm-3">
			<a href="/" role="button" class="btn bouton">Retour</a>
		</div>
	</div>

	{{ form_start(formulaire) }}
	<div class="row justify-content-center">
		{{ form_widget(formulaire.prenom) }}
	</div>
	<div class="row justify-content-center">
		{{ form_widget(formulaire.nom) }}
	</div>
	<div class="row justify-content-center">
		{{ form_widget(formulaire.email) }}
	</div>
	<div class="row justify-content-center">
		{{ form_errors(formulaire.email) }}
	</div>
	<div class="row justify-content-center">
		{{ form_widget(formulaire.plainPassword) }}
	</div>
	<div class="row justify-content-center">
		{{ form_errors(formulaire.plainPassword) }}
	</div>
	<div class="row justify-content-center">
		{{ form_widget(formulaire.date_naissance) }}
	</div>
	<div class="row justify-content-center">
		{{ form_errors(formulaire.date_naissance) }}
	</div>
	<div class="row justify-content-center">
		{{ form_row(formulaire.Inscription) }}
	</div>
	{{ form_end(formulaire) }}
{% endblock %}
