{% extends 'base.html.twig' %}

{% block title %}
	Page d'accueil
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row justify-content-center">
			<h1>Accueil</h1>
		</div>
		<div class="row justify-content-around">
			{% if is_granted('ROLE_USER') %}
				<div class="col-sm-3">
					<a href="{{ path('profil') }}" role="button" class="btn bouton">Profil</a>
				</div>
			{% endif %}
			{% if is_granted('ROLE_USER') %}
				<div class="col-sm-3">
					<a href="{{ path('app_logout') }}" role="button" class="btn bouton">Déconnexion</a>
				</div>
			{% endif %}
			{% if not is_granted('ROLE_USER') %}
				<div class="col-sm-3">
					<a href="{{ path('app_register') }}" role="button" class="btn bouton">Inscription</a>
				</div>
			{% endif %}
			{% if not is_granted('ROLE_USER') %}
				<div class="col-sm-3">
					<a href="{{ path('app_login') }}" role="button" class="btn bouton">Se Connecter</a>
				</div>
			{% endif %}
			{% if is_granted('ROLE_ADMIN') %}
				<div class="col-sm-3">
					<a href="{{ path('gestion') }}" role="button" class="btn bouton">Mode Admin</a>
				</div>
			{% endif %}
		</div>
		<div class="row justify-content-center">
			{{ form_start(formulaire) }}
			{{ form_widget(formulaire.recherche) }}
			{{ form_row(formulaire.Recherche) }}
			{{ form_end(formulaire) }}
		</div>
		<div class="row">
			{% for jeu in jeux %}
				<div class="col-md-3 marge">
					<div class="card case">
						<div class="card-body">
							<div class="titre">
								<h5 class="card-title">{{jeu.nom}}</h5>
							</div>
							<p class="card-text">{{jeu.description}}
							</p>
							<p class="card-text">{{jeu.prix}}
								€
							</p>
							<div class="row justify-content-center">
								<a href="/jeu/{{jeu.id}}" role="button" class="btn bouton">Voir Jeu</a>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
