{% extends 'base.html.twig' %}

{% block title %}
	{{jeu.nom}}
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-sm-3">
				<a href="/" role="button" class="btn bouton">Retour</a>
			</div>
		</div>
		<div class="row justify-content-center">
			<h1>
				{{jeu.nom}}
			</h1>
		</div>
		<div class="row justify-content-center">
			<p>
				{{jeu.description}}
			</p>
		</div>
		<div class="row justify-content-center">
			<p>Le prix est
				{{jeu.prix}}
				€
			</p>
		</div>
		{% if jeu.quantite > 0 and utilisateur.solde >= jeu.prix %}
			<div class="row justify-content-center">
				<div class="col-sm-3">
					<a href="/achat/{{jeu.id}}" role="button" class="btn bouton">Acheter</a>
				</div>
			</div>
		{% elseif utilisateur.solde < jeu.prix %}
			<div class="row justify-content-center">
				<p>
					Vous n'avez pas assez d'argent sur votre solde pour acheter le jeu.
				</p>
			</div>
		{% else %}
			<p>
				Le jeu n'est plus disponible pour le moment.
			</p>
		{% endif %}
	</div>
{% endblock %}
