{% extends 'base.html.twig' %}

{% block title %}
	Page Profil
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row justify-content-center">
			<h1>
				{{ utilisateur.prenom }}
				{{ utilisateur.nom }}
			</h1>
		</div>
		<div class="row justify-content-around">
			<div class="col-sm-3">
				<a href="/" role="button" class="btn bouton">Retour</a>
			</div>
			<div class="col-sm-3">
				<a href="/supprimer/{{utilisateur.id}}" role="button" class="btn bouton">Supprimer</a>
			</div>
			<div class="col-sm-3">
				<a href="{{ path('app_logout') }}" role="button" class="btn bouton">Déconnexion</a>
			</div>
		</div>
		<div class="row justify-content-around">
			<div class="col-sm-3">
				<a href="/modification/{{utilisateur.id}}" role="button" class="btn bouton">Modifier</a>
			</div>
			<div class="col-sm-3">
				<a href="/modification_mot_passe/{{utilisateur.id}}" role="button" class="btn bouton">Mot de Passe</a>
			</div>
			<div class="col-sm-3">
			<a href ="/solde/{{utilisateur.id}}" role="button" class="btn bouton">Recharger le Compte</a>
			</div>
		</div>
		<div class="row justify-content-center">
			<p>Email :
				{{ utilisateur.email }}
			</p>
		</div>
		<div class="row justify-content-center">
			<p>Date Naissance :
				{{ utilisateur.datenaissance | date("d/m/Y") }}
			</p>
		</div>
		<div class="row justify-content-center">
			<p>Solde :
				{{ utilisateur.solde }}
				€
			</p>
		</div>
	</div>
</div>{% endblock %}
